<div id="status" class="page-header" style="margin-top:0px;">
   <h3>Czar: <span id="status-czar"><%= @czar_user.email %></span> Previous Winner: <span id="status-winner"></span>
   <small class="pull-right">Awesome Points: <span id="status-player-points"><%= @player.score %></span> / <%= @game.max_score %></small></h3>
</div>

<div id="game-content">
   <div id="black-card"></div>
   <div id="game-hand"></div>
</div>

<div id="player-hand">
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Last Round Results:</h4>
      </div>
      <div id="modal-hand" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr>

<%= link_to 'Back', games_path, class: 'btn btn-info' %>
<%= link_to "Leave Game Forever", [@game, current_user, @player], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<hr>
