<div id="status" class="page-header" style="margin-top:0px;">
   <h3>Czar: <span id="status-czar"><%= @czar_user.email %></span> Previous Winner: <span id="status-winner"></span>
   <small class="pull-right">Awesome Points: <span id="status-player-points"><%= @player.score %></span> / <%= @game.max_score %></small></h3>
</div>

<div id="game-content">
   <div id="black-card"></div>
   <div id="game-hand"></div>
</div>

<div id="player-hand">
</div>

<hr>

<%= link_to 'Back', games_path, class: 'btn btn-info' %>
<%= link_to "Leave Game Forever", [@game, current_user, @player], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<hr>
